<mat-toolbar color="primary">
  <span><h3>Juez Colegios</h3></span>
  <a mat-button routerLink="/profile"><span class="fa fa-user fa-lg"></span> Profile</a>
  <a mat-button routerLink="/signup"><span class="fa fa-plus fa-lg"></span> SignUp</a>
  <a mat-button routerLink="/problemas"><span class="fa fa-rocket fa-lg"></span> Problems</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Juez de Curso de Colegio</h1>
    <p>¡Pon a prueba tus abilidades y compite con tus amigos!</p>
  </div>
  <div fxFlex></div>
</div>