<mat-sidenav-container class="navigation">
  <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img *ngIf="authGuard.canActivate()" src="https://randomuser.me/api/portraits/men/32.jpg" alt="Profile Image" class="navigation__avatar">
        <div fxFlex fxLayoutAlign="start" fxLayout="row" class="container">
          <ul fxFlex fxLayout="row" >
            <li *ngIf="!authGuard.canActivate()"><button routerLink="/" mat-button class="navigation__link">Home</button></li>
            <li *ngIf="authGuard.canActivate()"><button routerLink="/practice" mat-button class="navigation__link" routerLinkActive="navigation__link--active">Practice</button></li>
            <li><button routerLink="/scoreboard" mat-button class="navigation__link" routerLinkActive="navigation__link--active">Scoreboard</button></li>
            <li *ngIf="authGuard.canActivate()"><button mat-button class="navigation__link">Submissions</button></li>
            <li><button mat-button class="navigation__link">About us</button></li>
            <div fxFlex fxLayout="row" fxLayoutAlign="end" class="container">
              <li *ngIf="authGuard.canActivate()"><button mat-button class="navigation__link" (click)="logout()" routerLink="/"> <mat-icon class="navigation__profile-icon">person_outline</mat-icon>Logout</button></li>
            </div>
          </ul>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</mat-sidenav-container>
