<!-- <p appLatexRender [latexContent]="someEquation"></p> -->
<h1>{{tittle}}</h1>
<app-navbar></app-navbar>
<div fxLayout="column" fxLayoutAlign="space-around center" class="problem">
  <h1 class="mat-display-4 problem__title">Sparse Array</h1>
  <h3 class="mat-subheading-2 problem__title">Daniela Cortes Antonio</h3>
  <h3 class="mat-subheading-1 problem__title">Eassy</h3>
  <mat-card class="problem__card mat-elevation-z5">
    <mat-card-title><h3 class="mat-display-2 problem__section-heading">Problem Statement</h3></mat-card-title>
    <mat-card-content>
      <p class="mat-body-1" [latexContent]="probDescription" appLatexRender></p>
    </mat-card-content>
    <mat-card-title><h3 class="mat-display-2 problem__section-heading">Input Format</h3></mat-card-title>
    <mat-card-content>
      <p class="mat-body-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
      arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    </mat-card-content>
    <mat-card-title><h3 class="mat-display-2 problem__section-heading">Output Format</h3></mat-card-title>
    <mat-card-content>
      <p class="mat-body-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
      arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    </mat-card-content>
    <mat-card-title><h3 class="mat-display-2 problem__section-heading">Constrains</h3></mat-card-title>
    <mat-card-content>
      <p class="mat-body-1" [latexContent]="constrains" appLatexRender></p>
    </mat-card-content>
  </mat-card>
</div>
