

<div style="width: 50%; padding: 20px; text-align: center;">
  <div style="width: 350px; float: left;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{current_user.username}}</mat-card-title>
        <mat-card-subtitle>{{current_user.email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc0UR6Q-19iIGCXX1jvkKOK6EhJO19RqK6g1yIj90qt_bO-5oHAA">

        <mat-card-content>
        <p>
          {{current_user.first_name}} {{current_user.last_name}} <br>
          {{current_user.career}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

  </div>
  <div style="float: right;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Editar perfil</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nombre" [(ngModel)]="new_user.first_name" name="name"   required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Apellido" [(ngModel)]="new_user.last_name" name="last_name" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Usuario" [(ngModel)]="new_user.username" name="username" required>
                    </mat-form-field>
                  </td>
                </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Correo electronico"  [(ngModel)]="new_user.email" name="email" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Contraseña"  type="password" [(ngModel)]="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Verifique contraseña" type="password" [(ngModel)]="rePassword" name="rePassword" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Colegio" [(ngModel)]="new_user.career" name="career" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-card-actions>
            <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Aceptar cambios</button>
          </mat-card-actions>
    
        </form>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>