<div class="container" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div *ngIf="problem">
      <h3>{{problem.name | uppercase}}</h3>
      <h4>Statement</h4>
      <p>{{problem.description.statement}}</p>
      <h4>Input Format</h4>
      <p>{{problem.description.input_format}}</p>
      <h4>Output Format</h4>
      <p>{{problem.description.output_format}}</p>
      <h4>Explanation</h4>
      <p>{{problem.description.explanation}}</p>
      <input type="file" #file (change)="onFilesAdded()" />
    </div>
  </div>
</div>